<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/adminIndex.css">
  <title>도서 페이지</title>
</head>
</html>

<body>
  <div class="container">
    <a href="/admin/adminIndex"><img src="../images/곰두리지휘자.png"></a>
    <h1>관리자 페이지</h1>

    <form method = 'get' action ='/admin/search'>
    <div id="searchTitle"><h3 id="searchT">도서 검색</h3></div>
    <input type="text" name="keyword" placeholder="도서명, 도서 내용, 저자 등 검색어를 입력하세요." id="search">
    <button type="submit" id="clickBtn">확인</button>
    </form>

    <div class="menu">
      <a href="/admin/reserveList" id="one">
        <div><h3>예약 현황</h3></div>
      </a>
      <a href="/admin/rentList" id="two">
        <div><h3>대출 현황</h3></div>
      </a>
      <a href="/admin/requireList" id="three">
        <div><h3>희망 도서 목록</h3></div>
      </a>
    </div>

    <div class="loginBox">
      <br><h3>안녕하세요. 가상 도서관 시스템입니다.</h3>
      <a href="/logout"><button id="btn-logout">LOGOUT</button></a>
    </div>
  </div>
</body>
