<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/index.css">
  <title>도서 페이지</title>
</head>
</html>

<body>
<form>
  <div class="container">
    <h1>관리자 페이지</h1>
    <img src="/images/곰두리지휘자.png">
    <div id="searchTitle"><h3>도서 검색</h3></div>
    <input type="text" name="title" placeholder="도서명, 도서 내용, 저자 등 검색어를 입력하세요." id="search">
    <button type="submit" id="clickBtn"></button>

    <div class="menu">
      <a href="/rentList" id="one">
        <div><h3>대출 현황</h3></div>
      </a>
      <a href="/allWishList" id="three">
        <div><h3>희망 도서 목록</h3></div>
      </a>
    </div>
  </div>
</form>
</body>