<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/rentList.css">
  <title>Title</title>
</head>
<body>
<div class="container">
    <a href="/admin/search"><img src="../images/곰두리지휘자.png"></a>
    <h1>이용자 대출 현황 </h1>
    <table border ="1">
      <thead>
      <tr>
        <th colspan="4">대출 목록</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>대출번호</td>
        <td>책 번호</td>
        <td>학번</td>
        <td>대출일</td>
        <td>반납일</td>
        <td>남은일수</td>
        <td>반납여부</td>
        <td>연장여부</td>

      </tr>
      <tr th:each="rent : ${rentList}">
        <td th:text="${rent.rent_id}"></td>
        <td th:text="${rent.book_id}"></td>
        <td th:text="${rent.student_id}"></td>
        <td th:text="${rent.rent_dt}"></td>
        <td th:text="${rent.return_dt}"></td>
        <td th:text="${rent.spare_dt}"></td>
        <td th:text="${rent.is_return}"></td>
        <td th:text="${rent.is_continue}"></td>

        <td><a th:href="@{/books/{id}/returnBook(id = ${rent.rent_id})}">반납</a></td>
        <td><a th:href="@{/books/{id}/continue(id = ${rent.rent_id})}">연장</a></td>
      </tr>
      </tbody>
    </table>
</div> <!-- /container -->
</body>
</html>