<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/requireList.css">
  <title>Title</title>
</head>
<body>
<div class="container">
    <a href="/admin/adminIndex"><img src="../images/곰두리지휘자.png"></a>
    <h1>이용자 희망 도서 관리 </h1>
    <table border ="1">
      <thead>
      <tr>
        <th colspan="6">희망 도서 목록</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>학번</td>
        <td>전화번호</td>
        <td>책 이름</td>
        <td>저자</td>
        <td>출판사</td>
        <td>발행년도</td>

      </tr>
      <tr th:each="require : ${requireList}">
        <td th:text="${require.student.studentId}"></td>
        <td th:text="${require.student.phone}"></td>
        <td th:text="${require.title}"></td>
        <td th:text="${require.author}"></td>
        <td th:text="${require.publisher}"></td>
        <td th:text="${require.year}"></td>

      </tr>
      </tbody>
    </table>
</div> <!-- /container -->
</body>
</html>