div { text-align: center; }
img {
    display: inline-block;
    width: 60px;
} img:hover { width: 70px; }

.container { margin-top: 2%; }

.loginBox {
    width: 430px;
    height: 300px;
    font-size: 15px;
    background-color: rgba(157, 204, 236, 0.64);
    border-radius: 5px;
    margin: 0 auto;
}
#labelId {
    font-size: 14px;
    margin-right: 295px;
}
#labelPw {
    font-size: 14px;
    margin-right: 285px;
}
#inputId {
    display: block;
    width: 77.8%;
    height: 35px;
    border: 1px solid rgba(114, 143, 157, 0.93);
    border-radius: 5px;
    padding-left: 15px;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 10px;
}
#inputPw {
    display: block;
    width: 77.8%;
    height: 35px;
    border: 1px solid rgba(114, 143, 157, 0.93);
    border-radius: 5px;
    padding-left: 15px;
    margin: 0 auto;
    margin-top: 5px;
}

#btn-login {
    width: 82%;
    height: 35px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
}#btn-login:active {
    background-color: rgba(17, 48, 69, 0.25);
}