div { text-align: center;}
a { text-decoration: none; }
img {
    display: block;
    width: 80px;
    margin-left: 46%;
}

#searchTitle {
    display: inline-block;
    background-color: skyblue;
    width: 90px;
    height: 64px;
    border-radius: 10px 0px 0px 10px;
    border: 1px solid black;
    vertical-align: top;
}

.container { margin-top: 7%; }

#search {
    width: 40%;
    height: 60px;
    font-size: 20px;
    border-radius: 0px 10px 10px 0px;
    padding-left: 20px;
    margin-left: -5.7px;
}

#clickBtn {
    display: inline;
    background-color: skyblue;
    width: 75px;
    height: 66px;
    border-radius: 10px;
    border-color: skyblue;
    vertical-align: middle;
    margin-left: -3px;
    margin-bottom: 5px;
}

.menu {
    text-align: center;
}
#one {
    display :inline-block;
    font-size: 20px;
    margin-right: 50px;
}
#two {
    display :inline-block;
    font-size: 20px;
    margin-right: 50px;
}
#three {
    display :inline-block;
    font-size: 20px;
}

@media screen and (max-width:500px) {
    /* 모바일 CSS*/
    img {
        display: block;
        width: 65px;
        margin-left: 44%;
    }

    #one {
        display :inline-block;
        font-size: 17px;
        margin-left: 50px;
    }
    #two {
        display :inline-block;
        font-size: 17px;
        margin-left: 50px;
    }
    #three {
        font-size: 17px;
    }
}