div { text-align: center; }
a { text-decoration: none; }
img {
    display: inline-block;
    width: 60px;
} img:hover { width: 70px; }

.container { margin-top: 2%; }

table {
    width: 60%;
    font-size: 14px;
    border-collapse: collapse;
    margin: 0 auto;
}
th { background-color: rgba(76, 121, 187, 0.4); }

/* Administrator button*/
button {
   display: inline-block;
   width: 100%;
   border: none;
   background-color: rgba(76, 121, 187, 0.3);
} button:hover { background-color: rgba(76, 121, 187, 0.4); }

/* User continue button*/
#continueBtn {
   display: inline-block;
   width: 100%;
   border: none;
   background-color: rgba(76, 121, 187, 0.3);
   color: black;
}#continueBtn:hover { background-color: rgba(76, 121, 187, 0.4); }