div { text-align: center; }
a { text-decoration: none; }
img {
    display: inline-block;
    width: 60px;
} img:hover { width: 70px; }

.container { margin-top: 2%; }

table {
    width: 60%;
    margin: 0 auto;
}
