<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/index.css">
  <title>도서 페이지</title>
</head>
</html>

<body>
  <div class="container">
    <a href="/"><img href="#" src="/images/곰두리지휘자.png"></a>
    <form method="post">
      <div id="searchTitle"><h3>도서 검색</h3></div>
      <input type="text" name="title" placeholder="도서명, 도서 내용, 저자 등 검색어를 입력하세요." id="search">
      <button type="submit" id="clickBtn"></button>
    </form>

    <div class="menu">
      <a href="/" id="one">
        <div><h3>나의 대출 현황</h3></div>
      </a>
      <a href="seat" id="two">
        <div><h3>실시간 열람실</h3></div>
      </a>
      <a href="wishList" id="three">
        <div><h3>희망 도서 신청</h3></div>
      </a>
    </div>

    <div class="loginBox">
      <h1>로그인성공</h1>
      <table>
        <tr>
          <td>

          </td>
        </tr>
      </table>

      <p th:text = "${loginId}"></p>
      <p th:text = "${loginRoles}"></p>
    </div>
  </div>
</body>
