<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

<!--    <link rel="stylesheet" type="text/css" href="/css/search.css">-->
    <title>홈페이지</title>
    <link th:href="@{/css/search.css}" rel="stylesheet">
</head>
<body>
<h4><span th:text="${keyword}"></span> 검색 결과</h4>

<table>
    <thead>
    <td>ID</td>
    <td>제목</td>
    <td>내용</td>
    <td>대출가능여부</td>
    </thead>
    <tbody>
    <tr th:each="book : ${books}">
        <td th:text="${book.id}"></td>
        <td th:class="left" th:text ="${book.title}"></td>
        <td th:class="left" th:text ="${book.content}"></td>
        <td th:class = "${book.available == '대출 가능'}? 'css1' : 'css2'" th:text="${book.available}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
