<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/wishForm.css">
    <title>Title</title>
</head>

<body>
<div class="container">
    <form action="/books/wish" method="post">
        <h1>희망 도서 신청</h1>
        <div>
            <table id="table">
                <tbody>
                <tr>
                    <td id = "td_background">
                        <label for="name" style=" font-size:20px;">제목</label>
                        <input type="text" id="name" name="name" placeholder="제목을 입력하세요"
                               style="width:610px; height:20px; font-size:20px;"></td>
                </tr>

                <tr>
                    <td id = "td_background2">
                        <label for="writer" style=" font-size:20px;">저자</label>
                        <input type="text" id="writer" name="writer" placeholder="저자를 입력하세요"
                               style="width:610px; height:20px; font-size:20px;"></td>
                </tr>

                <tr>
                    <td id = "td_background3">
                        <label for="publisher" style=" font-size:20px;">출판사</label>
                        <input type="text" id="publisher" name="publisher" placeholder="출판사를 입력하세요"
                               style="width:590px; height:20px; font-size:20px;"></td>
                </tr>

                <tr>
                    <td id = "td_background4">
                        <label for="since" style=" font-size:20px;">발행년도</label>
                        <input type="date" id="since" name="since" placeholder="발행년도를 입력하세요"
                               style="width:580px; height:20px; font-size:20px;"></td>
                </tr>

                <tr>
                    <td id = "td_background5">
                        <label for="tel" style=" font-size:20px;">연락받을
                        전화번호</label>
                        <input type="tel" id="tel" name="tel" placeholder="전화번호를 입력하세요"
                               style="width:490px; height:20px; font-size:20px;"></td>
                </tr>

                <tr>
                    <td>
                        <button id="button">신청
                        </button>
                    </td>
                </tr>

                </tbody>
            </table>


        </div>
    </form>
</div>

</body>
</html>

